extends layout

block content
  h1 How's it going?
  p.lead Lets make a start.
  hr
  .row
    .col-sm-6
      h2 Heading
      p Dummy text for now, plan to add this in future. Well hopefully :-)
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Dummy text for now, plan to add this in future. Well hopefully :-)
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Dummy text for now, plan to add this in future. Well hopefully :-)
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Dummy text for now, plan to add this in future. Well hopefully :-)
      p
        a.btn.btn-default(href='#', role='button') View details »
