extends layout

block content
  h1 Your Information?
  p.lead All the details you need!
  hr
  .row
    .col-sm-6
      h2 Very Important Info
      p Will be linked to a service call from database
      p
    .col-sm-6
      h2 Public Information
      p News feed from a public api
      p

